<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Books</title>
    </head>
    <body>
        <h1>{{ book.getTitle }}</h1>
        <h3>Authors</h3>
        {% if authors is not empty %}
            <ul>
                {%for author in authors%}
                    <li>{{author.getName}}</li>
                {%endfor%}
            </ul>
        {% else %}
        <p>Oops, the library needs to add authors to this book!</p>
        {% endif %}
        <h3>Number of copies available:</h3>
        <h4>{{book.getAvailable}}</h4>

        {% if librarian %}

        <h5>Edit this Title</h5>
        <form action="/librarian/catalog/{{ book.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
              <label for="author">Edit Title</label>
              <input id="title" name = "title" type="text">

            <button type="submit">Submit</button>
        </form>

        <h5>Add an Author to this book</h5>
        <form action="/librarian/catalog/add_author/{{ book.getId }}" method="post">
              <label for="add_author">Add Author</label>
              <input id="add_author" name = "add_author" type="text">

            <button type="submit">Submit</button>
        </form>

        <h5>Add a new copy to inventory</h5>
        <form action="/librarian/catalog/{{book.getId}}" method="post">
            <label for="num_copies"># of copies</label>
            <input type="number" name="num_copies">
            <button type="submit" name="button">Submit</button>
        </form>

        <form action="/librarian/catalog/search" method="post">
            <input name="_method" type="hidden" value="delete">
            <input type="hidden" name="book_id" value="{{book.getId}}">
            <button type="submit" name="delete">Delete Book (and all copies!)</button>
        </form>

        {% endif %}

        {% if patron %}
            <h3>Book Checkout</h3>
            <form action="/patron/{{ patron.getId }}/catalog/{{ book.getId }}/checkout" method="post">
                <input name="date" type="date">
                <button type="submit">Checkout</button>
            </form>


        {% endif %}

        <h2><a href='/'>Home</a></h2>
    </body>
</html>
