<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <meta charset="utf-8">
    <title>Catalog</title>
  </head>
  <body>

     <div class="container">
            {% if patron %}
            <h1>Search for a book:</h1>
              <form action="/patron/{{patron.getId}}/catalog/search_by_title">
                <label for="title">Title</label>
                <input id="title" name = "title" type="text">

                <button type="submit">Search</button>
              </form>

              <form action="/patron/{{patron.getId}}/catalog/search_by_author">
                <label for="author">Author</label>
                <input id="author" name = "author" type="text">

                <button type="submit">Search</button>
              </form>

              <a href="/patron/{{patron.getId}}/catalog"><button type="button">Catalog</button></a>

              <h2><a href='/'>Home</a></h2>

              <h3>Checkout History</h3>

              {% if checkouts is not empty%}
                <ul>
                    {% for checkout in checkouts%}
                    <li>{{ checkout.checkout_date}} - {{ checkout.title }}</li>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if librarian %}

            <h3>Search the Catalog</h3>
            <form action="/librarian/catalog/search_by_title">
              <label for="title">Titles</label>
              <input id="title" name = "title" type="text">

              <button type="submit">Search</button><br>
            </form>

            <form action="/librarian/catalog/search_by_author">
              <label for="author">Author</label>
              <input id="author" name = "author" type="text">

              <button type="submit">Search</button><br>
            </form>

            <h3>Add a Book</h3>
            <form action="/librarian/catalog/search" method="post">
              <label for="title">Title</label>
              <input id="title" name = "title" type="text">

              <label for="author">Author</label>
              <input id="author" name = "author" type="text">

              <button type="submit">Add Book</button>
            </form>

            <br>

            <a href="/librarian/catalog"><button type="button">Catalog</button></a>


            <h2><a href='/'>Home</a></h2>

            {% endif %}
    </div>


  </body>
</html>
